<div class="d-flex justify-content-center"> <!-- d-flex : display-flex / Pour centrer sur la page -->
    <ul class="pagination">
        <li class="page-item {% if page == 1 %}disabled{% endif %}"> <!-- flèche pour aller page de gauche -->
            <a class="page-link" href="{{ path(route, {'category': category, 'page': page - 1}) }}">&laquo;</a>
        </li>
        {% for i in 1..pages %}
        <li class="page-item {% if page == i %}active{% endif %}"> <!-- Si l'itération = à la page actuelle, class active -->
            <a class="page-link" href="{{ path(route, {'category': category, 'page': i}) }}">{{ i }}</a>
        </li>   
        {% endfor %}
        <li class="page-item {% if page == pages %}disabled{% endif %}">
            <a class="page-link" href="{{ path(route, {'category': category, 'page': page + 1}) }}">&raquo;</a>
        </li>
    </ul>
</div>